*{
	padding:0;
	margin:0;
}
%f_clear{
	content:'';
	display:block;
	clear:both;
}
section{
	width:1200px;
	margin:auto;
	overflow:hidden;
	box-sizing:border-box;
	div{
		transition:width 0.5s ease-out;
		width:calc(100% / 7);
		height:260px;
		float:left;
		position:relative;

	}
	div:after{
		content:'';
		position: absolute;
		width:100%;
		height:100%;
		background:rgba(black,.3);
	}
	div:hover:after{
		background:none;
	}
	&::after{
		@extend %f_clear;
	}
}
/* 背景图*/
@for $i from 1 through 7 {
	div:nth-child(#{$i}){
		background:url(images/20150120_ifold#{$i}.jpg) no-repeat center 0;
	}
}